JWT_ALG=HS256
JWT_EXP=21000
JWT_SECRET=SECRET

DATABASE_URL=mysql://dev-stag:Dev@2023@54.169.170.8:3306

SITE_DOMAIN=127.0.0.1

SECURE_COOKIES=false

ENVIRONMENT=LOCAL

CORS_HEADERS=["*"]
CORS_ORIGINS=["http://localhost:3000"]
